.ForgotPassword{
    display: flex;
    margin-left: 25px;
    width: 350px;
    padding-bottom: 25px;
    /* height: 335px; */
    text-align: center;
    margin-top: 50px;
    
}

h3{
    padding-top: 10px;
}

.Submit_button{
    width: 250px;
    height: 35px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 15px;
    border: 1px solid #0395F6;
    background-color: #0395F6;
    color: white;
    cursor: pointer;
}